.verification-page {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
}

.welcome {
  font-size: 40px;
  font-weight: 500;
  font-family: "Montez";
  margin-bottom: 70px;
}

.verification-page > input {
  height: 48px;
  width: 80%;
  max-width: 320px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: rgb(194, 193, 250);
  margin: 12px 0px;
  padding: 0px 3px;
  text-align: center;
  font-size: 15px;
}

.verification-page > font {
  font-size: 17px;
}

#send_code {
  font-size: 16px;
  background-color: white;
  border: none;
  outline: none;
  color: rgb(112, 110, 236);
  margin-top: 50px;
  margin-bottom: 20px;
}

#verify_btn {
  background-color: rgb(194, 193, 250);
  border-radius: 50px;
  outline: none;
  border: none;
  height: 45px;
  width: 120px;
}
